<!DOCTYPE html>
<html>
<head>
  <title>ALDEMO</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    
    .container {
      text-align: center;
      margin-top: 50px;
    }
    
    h1 {
      color: #333;
    }
    
    .button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      border-radius: 4px;
      margin-right: 10px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>AL Technical Challenge</h1>
    <h2>by Dexter De Vera</h2>
    <h2>Thank You Heaps!</h2>
    <div>
      <a href="#" class="button">SIDs</a>
      <a href="#" class="button">STARs</a>
    </div>
  </div>
</body>
</html>
